.custom-slider {
    position: relative;
    display: block;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
}

.custom-slider:before,
.custom-slider:after {
    content: '⥪';
    position: absolute;
    top: 50%;
    left: 1rem;
    z-index: 2;
    width: 2rem;
    height: 2rem;
    background: dodgerblue;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.custom-slider:after {
    content: '⥭';
    left: auto;
    right: 1rem;
}

.custom-slider input {
    appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translateX(100%);
    transition: transform ease-in-out 400ms;
    z-index: 1;
}

.custom-slider input:focus {
    outline: none;
}

.custom-slider input:after {
    content: attr(title);
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: .5rem;
    font-size: 1rem;
    border-radius: 5px;
}

.custom-slider input:not(checked):before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    top: 50%;
    left: calc(-100% + 1rem);
}

.custom-slider input:checked:before {
    display: none;
    left: 1rem;
}

.custom-slider input:checked {
    transform: translateX(0);
    pointer-event: none;
    z-index: 0;
    box-shadow: -5px 10px 20px -15px rgba(0, 0, 0, 1);
}

.custom-slider input:checked+input:before {
    left: -3rem;
}

.custom-slider input:checked+input~input:before {
    display: none;
}